body{
    display: flex;
    justify-content: center;
}
.main{
    height: 1300px;
    width: 1200px;
}
.box1{
    background-color: rgb(26, 24, 24);
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.box{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.ul{
    font-size: 20px;
}
.html{
    margin-top: 150px;
    gap: 100px;
}
.a1{
    height: 150px;
    width: 250px;
}
.box-a{
    width:300px;
    border: 1px solid black;
    background-color: rgb(112, 110, 107);
 
}
.box-b{
    background-color: rgb(190, 125, 125);
    width: 100%;
    border: 1px solid black;
   
 

}
.b2{
    margin-left: 20px;
}
.bb{
    background-color: rgb(158, 155, 155);
    margin-left: 20px;
    margin-right: 10px;
    
}
.h{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
}
.p1{
    margin-top: 30px;  
}
.p1::first-letter{
    color: red;
    font-size: 30px;
 
}
.p1::selection {
    background-color: yellow;
    color: red;
}
.p1::first-line{
 text-transform: uppercase
}
.p2{
  margin-top: 20px;  
}
.p2::first-line{
    
    font-size: 15px;
 text-transform: uppercase
}
.img1{
    height: 300px;
 margin-top:20px;
 border: 2px solid black;
}
.a{
    background-color: rgb(243, 250, 211);

}
.b{
    background-color: rgb(205, 246, 252);
}
.c{
   background-color: rgb(241, 247, 211);
   color: rgb(243, 9, 9);
   font-style: italic;  
}
.d{
    background-color: rgb(207, 246, 252);
}