@media(max-width:768px){
    .forth-child{
        display: flex;
        flex-direction: column;
    }
    .text4-p{
        text-align: center;
    }
    .first-a{
        margin-top: 100px;
    }
     
}
@media(max-width:400px){
    .forth{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .forth-child{
      flex-direction: row;  
       
    }
    .col-child1{
        display: flex;
        flex-direction: column;
    }
    .fifth-img{
         
        width: 70%;
    }
     
    .fifth-row{
        width: 200px;
         display: flex;
         
         
         overflow-y: scroll; 
    }
     
}
@media(max-width:800px){
    .fifth-img{
         
        width: 50%;
    }
     
    .fifth-row{
        width: 250px;
         display: flex;
         
         
         overflow-y: scroll; 
    }
    .fifth-s{
        overflow-y: scroll;
    }
     .sixth-a{
        display: flex;
        flex-direction: column;
    }
    .fifth-b{
        display: none;
    }
}
@media(max-width:768){
   
}