 
 *{
    padding: 0;
    margin: 0;
 }
 body{
    height: 100%;
    width: 100%;
    background-color: #fdf9f9;
 }
 .text4-p{
   color: grey;
   font-weight: 500;
 }
 .forth {
  padding: 30px;
 }
 .fouth-section{
   
   background-color: #FCF9EA;
 }
 .first-a{
  margin-top: -100px;
 }
 .fifthe{
   background-image: url(assets/section-5/background-img.png);
   position: relative;
 }
.fifth-row{
display: flex;
}
.s-6{
  margin-right: 28%;
}
 .btn-1{
  background-color: rgb(106, 61, 42);
  border: none;
 }
 .text-1{
  color: rgb(106, 61, 42) ;
 }
 .btn-2{
  font-weight: 500;
  border: 1px solid black;
 }
 
 
 
 
 
 