

body{
    display: flex;
    justify-content: center;
}
.main{
    width: 1200px;
    height: 2000px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.box5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-bottom: 150px;
}
.header1{
    background-color: rgb(184, 192, 199);
    height: 250px;
    width: 1050px;
    border-radius:10px ;
    display: flex;
    justify-content: space-between;

}
.box1{
    margin-left: 15px;
}
.a1{
    font-size: 40px;
    text-transform: capitalize;
}
.a2{
  color: rgb(100, 100, 99);
  font-size: 15px;  
}
.a3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    border-radius: 5px;
}
.box2{
align-items: center;
    display: flex;
}
.header2{
height: 70px;
display: flex;
width: 1050px;
justify-content: space-between;
align-items: center;
}
.aa1{
    margin-left: 10px;
}
.p2{
    color: blue;
}
.pp1{
color: rgb(32, 32, 61);
font-size: 25px;
}
.p4{
    height: 20px;
    border-radius: 5px;
}
.header3{
    display: flex;

    
}
.box-a{
    border: 1px solid grey;
    width: 250px;
    height: 450px;
    border-radius: 10px;
    margin-left: 10px;
}
.imgaa{
 display: flex;
 height: 220px;
 width: 260px;
}
.aaa{
    height: 220px;
    width:10px;
    margin-top:20px ;
    margin-left: 15px;
}
.pp1{
    background-color: rgb(221, 43, 43);
    border-radius: 5px;

}
.pp2{
    background-color: rgb(54, 117, 65);
    border-radius: 5px;
    width: 10px;
    
}
.bbb{
  margin-left: 30px;
}
  
.img2{
    height: 180px;
    width: 150px;
    margin-top: 50px;   
}
.g{
 margin-top: 80px;
}
 .gg{
margin-left: 20px;
 }
.g1{
    color: grey;
}
.g2{
    margin-top:20px;
    font-size: 20px;
    text-transform: capitalize;
}
.g3{
    margin-top: 18px;
    height: 18px;
    margin-right: 20px;
}
.gg1{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.add{
    background-color: rgb(53, 221, 53);
    padding: 5px;
    width: 70px;
    color: white;
    font-size: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid  rgb(53, 221, 53) ;
}

.bbb2{
   margin-left: 50px;  
}

.aaa1{
    display: flex;
    margin-top:25px ;
    margin-left: 15px; 
    color: white; 
    width: 180px;
}
.pp11{
    font-size: 10px;
   background-color: rgb(221, 43, 43);
    border-radius: 5px;   
    margin-top: 20px
    
}
.imgaa2{
     display: flex;
 height: 150px;
 width: 260px;
}
.img33{
   height: 100px;
    width: 150px;
    margin-top: 50px;   
    margin-bottom: 20px;   
    margin-left: 50px;
}
.bbb1{
   
}