/* 

    .x{
        display: block;
         text-align: center;
        height: 1000px;
        width: 100%;
    }
    .main-section{
        display: none;
    }
} */
@media(max-width:1220px){
    .nav-child{
    width:  1000px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color:blanchedalmond ; */
    align-items: center;
  }
  .box-icon-child{
    width:  1000px;
    display: flex;
    justify-content: center;
    gap: 0px;
    
  }
  .child-a2{
     
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .child-b2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .a2-p1{
        width:100%;
    }
}
@media(max-width:1000px){
     .icon-svg{
        height:  25px;
     }
     .marquee{
        display: none;
     }
     .box-1-child{
        
        display: flex;
        justify-content: end;
     }
     .box-buttom{
        margin-right: 50px;
     }
     .icon-p1{
        font-size: 20px;
     }
     .icon-p2{
        font-size: 15px;
     }
     .box-icon-child{
        
        width: 780px;
         display: flex;
         justify-content: center;
        gap: 0px; 
    }
    .icon-items{
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width:800px){
    .nav-menu{
        display: block;
    }
    .nav-items{
        display: none;
    }

}
@media(max-width:780px){
     .icons-1, 
    .icons-2{
        display: none;
    }
    .icons-11, 
.icons-22{
    display: block;
}
  .box-icon-child{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    
  }
  .icon-items{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
  }
    .box-icon-child2{
        display: block;
        display: flex;
        justify-content: space-around;
        width:80% ;
        margin-top: -100px;
        
    }
    .nav-items{
        display: none;
    }
      
    .child-a2{
     
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
    .child-b2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:415px){
    .box-buttom{
        display: flex;
        flex-direction: column;
    }
    .box-1 {
        height: 60px;
    }
    .a2{
        width:90px  ;
        height:120px  ;
    }
    .child-box-2{
        padding: 0px;
    }
    .a2-p1{
        font-size: 18px;
        width: 90px;
    }
}
