#a{ color: aqua;
    }
#c{
    color: rgb(7, 236, 217);
    font-size: 30px;
    width: 90;
    text-align: center                      ;
}   
 .d{
    font-size: 50px;
}
.d{
    font-size: 50px;
}
#z{
    color: aqua;
    font-size: 30px;
    text-align: right;
}
#x{
    font-size: 30px;
}
#g{
    font-size: 50px;
}
#h{
    color: aqua;
}
#body{
    text-align: center;
}
#t{
    text-align: center;
}
#prince{
text-align: center;
} 
#sachin{
    text-align: center;
}
#om{
    text-align:right;
}